<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLinkActive="active" routerLink="/recipes" class="nav-link">Recipes</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/shopping-list" class="nav-link">Shopping List</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="dropdown" appDropdown>-->
          <!--<a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Save Data</a></li>-->
            <!--<li><a href="#">Fetch Data</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
