<div class="row">
  <div class="col-xs-12">
    <!--
    If we want to create a component without the spec.ts file for testing we can simply
    write this:
    ng g c component-name --spec false
    -->
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <!--
    As opposed to using two-way data binding we can place a local reference. A local
    reference can be placed on any HTML element. We create a local reference with a
    hashtag(#) and with a name of our choice as shown below. This reference will hold
    a reference to the element it is attached to; so not to the value will it hold a
    reference but to the whole HTML element itself with all its properties.
    -->
    <input type="text" class="form-control" #serverNameInput>
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent">
    <br>
    <!--
    We can use references anywhere in our template but only in our template and not
    inside our Typescript code. However, we can pass the local reference inside a
    method as shown below.
    -->
    <button
            class="btn btn-primary"
            (click)="onAddServer(serverNameInput)">Add Server</button>
    <button
            class="btn btn-primary"
            (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>
