<!--
Square brackets ([]) indicate to Angular that we are using property binding.
It tells Angular that we want to dynamically bind a property.Each HTML
element we use is parsed by the browser and kind of translated into a element
on the DOM. Therefore we have an element in this DOM and this element has a
couple of properties. A lot of these can't even be set through attributes on the
HTML element. One of those properties is the disabled property and we can set it
through the disabled attribute but here we are not using the 'disabled attribute
anymore. With the square brackets we are directly binding to this native disabled
property this HTML element has. Thus, there are a lot of native properties of
elements that we can property bind to. Some of these native properties are resolved
through a boolean but some are resolved through other values. The disabled native
property is resolved to a true boolean so that is why we equal it to !allowNewServer,
because if allowNewServer is false within the component model then we want the button
to be disabled.

Parenthesis indicates to Angular that we are using event binding. Within the
parenthesis we name the event. By naming the event (click) we are using the onclick
HTML DOM event. This naming convention is for all events. Therefore, in Angular we
write the HTML DOM event name within the parenthesis but with the 'on' prefix removed.
Here we called the onCreateServer method that we defined in the component model.
However, we can also write the code inside the quotation marks that we want to execute.
However, it is a better convention to define the code in a method within the model
component and call it using event binding. If it is a simple code of one line then
it is acceptable as per convention to write it in the quotation marks rather than
define a method in component model.
-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--
innerText is another native property of an element we can use (in this case the p
element). This native property is resolved through a string which it then places
inside the p tags. This is an alternative to using string interpolation like this:
<p>{{ allowNewServer }}</p>.

We should use string interpolation if we want to output something to the template
or print something. If we want to change some property of an element we use property
binding. An important thing to note is not to mix property binding with string
interpolation. For example this will will break our app:
[disabled] = {{ !allowNewServer }}
-->
<!--<p [innerText] = "allowNewServer"></p>-->
<p>{{ serverCreationStatus }}</p>
<!--
Components are reusable in Angular. So we can use this
-->
<app-server></app-server>
<app-server></app-server>