<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <!--
            We do not put our component selectors into HTML. That is just not how we work
            with Angular. Please note that the app-server was the selector name we gave in
            server.component.ts. When we inspect the page on a browser we see that the app-servers
            elements surrounds two app-server elements.
            -->
            <app-servers></app-servers>
        </div>
    </div>
</div>