<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLinkActive="active" routerLink="/recipes" class="nav-link">Recipes</a></li>
        <li class="nav-item"><a routerLinkActive="active" routerLink="/shopping-list" class="nav-link">Shopping List</a></li>
      </ul>
      <div class="btn-group ml-auto" dropdown>
        <!--
        If the person using the app is not authenticated then he or she should see the Register and Login router links.
        -->
        <ng-template [ngIf]="isAuthenticated()">
          <li style="list-style: none; margin-right:15px;"><a routerLink="/signup">Register</a></li>
          <li style="list-style: none; margin-right:15px;"><a routerLink="/signin">Login</a></li>
        </ng-template>
        <!--
        We want to show the logout button only when the person using this app is authenticated.
        -->
        <li *ngIf="authService.isAuthenticated()" style="list-style: none; margin-right:15px;">
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
        <!--
        If the person using the app is authenticated then he or she should see the Manage link for the app.
        -->
        <a dropdownToggle style="cursor: pointer;" class="dropdown-toggle" *ngIf="authService.isAuthenticated()">
          Manage <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer;">Save Data</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="onFetchData()" style="cursor: pointer;">Fetch Data</a></li>
        </ul>
      </div>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li class="dropdown" appDropdown>-->
          <!--<a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Save Data</a></li>-->
            <!--<li><a href="#">Fetch Data</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>
