<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <!--
        Because we will have multiple recipes in an array it is appropriate to use
        ngFor to output all the recipes in the template.
        -->
        <a *ngFor="let recipe of recipes" href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="pull-right">
                <!--
                Rather than passing a value into the src attribute through string interpolation,
                we can use property binding to bind to the native property of src of the image
                attribute. However, we can use both methods and they work just fine.
                -->
                <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;"/>
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
