<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<!--
Here we want to load the servers component whenever a user clicks on the Load Servers button below.
-->
<!--
We want the button below to change the URL to: http://localhost:4200/servers/1/edit?allowEdit=1#loading.
-->
<button class="btn btn-primary" (click)="onLoadServer(1)">Load Server 1</button>
<!--
These are just fake login and logout buttons. They don't take us to a form or do some real authentication.
-->
<button class="btn btn-default" (click)="onLogin()">Login</button>
<button class="btn btn-default" (click)="onLogout()">Logout</button>